/* App.css */
.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #1E1E1E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #1F8EF1;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.deleteButton {
  background-color: #e02434;
}

.deleteButton:hover {
  background-color: #c10c1c;
}

button:hover {
  background-color: #0F7EDB;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #1E1E1E;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 90%;
  max-width: 600px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #E0E0E0;
  font-size: 30px;
}

.close:hover {
  color: #f70505;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #B0B0B0;
  font-size: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #2C2C2C;
  color: #E0E0E0;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #1F8EF1;
}

/* Align input fields and labels */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

button[type="submit"] {
  align-self: flex-end;
}
